<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body style="display:flex;
                                            flex-direction: column;
                                            align-items: center;
                                            gap: 5px;
                                            font-size: 60px;
                                            color: white;
                                            border-radius: 20px;
                                            background-color: cornflowerblue;
                                            padding: 20px;">

<div>This email address is already in use!</div>
<div style="font-size: 18px"><a href="http://localhost:5200/login">try again</a></div>
<div style="font-size: 18px"><a href="http://localhost:5200/users">all users</a></div>

</body>
</html>